/*All Desktop*/
@media (min-width: 1200px) {
    .top-30{margin-top: 30px;}
    .show-box-0 img{
        position: absolute;
        left: -90px;
        top: -62px;
        z-index: 0;
        width: 600px;
    }
    #app-features .feature-4 {
       margin-left: 35px;
    }
    #app-features .feature-22 {

        margin-right: -22px;
    }

}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .top-30{    margin-top: 30px;}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.top-30{    margin-top: 30px;}
    .show-box-0 img{
        position: relative;
        left: 20px;
        top: 0px;
        z-index: 0;
        width: 400px;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .show-box-0 img{
        position: absolute;
        left: -90px;
        top: -62px;
        z-index: 0;
        width: 500px;
    }
}
 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .show-box-0 img{
        position: relative;
        left: 40px;
        top: 0px;
        z-index: 0;
        width: 70%;
    }

}

 
/* small mobile :320px. */
@media (max-width: 768px) {
    .banner-text h1 {
        font-size: 35px;
        color: #0B2540;
        margin-bottom: 30px;
    }
    .banner {
        padding-top: 165px;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    .show-box-0 img{
        position: relative;
        left: 80px;
        top: 0px;
        z-index: 0;
        width: 70%;
    }
    .top-bar p {
        font-size: 14px;
    }
    #app-features .feature-4 {
         width: 100%;
         margin-left: 0px;
    }
    .container {
        max-width: 650px;
    }
    img.bounce-effect {
        width: 216px;
    }
    .mean-container .mean-nav ul li a {
        padding: 11px 12px;
    }
    #phone{width: 270px}
}

@media (max-width: 479px) {
    #app-features {
         margin: 0px 0px;
    }
    #app-features {
        padding: 0px 0px 70px 0px;
    }
    .show-box-0 img{
        position: relative;
        left: 20px;
        top: 0px;
        z-index: 0;
        width: 300px;
    }
    .ab-split {
        display: contents;
    }
    .top-bar { height: 85px; }
    .top-bar p {
        line-height: 30px;
        font-size: 10px;
    }
    .top-bar span {
        padding: 5px;
        font-size: 11px;
    }
    .break-mob{display: block}
    .show-box img{width: 320px}
    #app-features .feature-4 {
        width: 100%;
        margin-left: 0px;
    }

#app-features .feature-4 {
     margin-left: 0px;
}
    .scroll-bg-content h1 {
        font-size: 34px;
    }
    .demopadding {
        width: 345px;
        text-align: left;
    }
    .footer-items h3{padding-top: 25px}
    .scroll-bg-content p {
        font-size: 13px;
        line-height: 25px;
    }
    #services3 .service-single{margin-bottom: 25px; padding: 25px;height: 325px}
    .banner-text h1 {
        font-size: 31px;
        color: #0B2540;
        margin-bottom: 30px;
    }
    .bounce-effect{
        display: block;
        text-align: center;
    }
    img.bounce-effect{
        width: 190px;
        text-align: center;
        margin: auto;
        display: inline-block;
    }
    .button-store{
        display: grid;
    }
    .banner-image{float: none;text-align: center;}
    .sign-up-form{
        width: 347px;
    }

        .tab .nav-tabs li{ width: 100%; }
        .tab .nav-tabs li a{ text-align: center; }
        .banner{
            height: auto;
            padding-top: 200px;
        }
    .img-content-two img {
        padding-top: 30px;
    }
    .tel-input-form input{width: 233px}

}
@media (max-width: 321px){
    .tel-input-form input {
        width: 150px;
    }
}

